{% block content %}
{% block title %}{% endblock %}
{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя</title>
    <link rel="stylesheet" href="{% static '/personalpage/base.css' %}" type='text/css'>
    <script src="{% static '/personalpage/script.js' %}"></script>
</head>
<body>
    
    <header>
        {% if access == True %}
        <div>
            <p><input class='fd2' type="submit" value="НАСТРОЙКИ"></p>
        </div>
        <div>
            <button id='header2' class='fd2' onclick="article()">Написать</button>
        </div> 
        <div>
            <a class='fd2' href="/main/"><button class='fd2'>К ОБЩЕСТВУ</button></a> 
        </div> 
        <div>
            <a class='fd2' href="/account/logout/"><button class='fd2'>ВЫХОД</button></a>
        </div>
        {% endif %}
    </header>

    {% if register == True %}
    
    <div id="global">
        <div id="alternativ_global">
            <form class='box_write_info_blok' method="post" action="">
            {% csrf_token %}
            <div id="pu_div1">
            </div>
            <div id="pu_div2">
                
                    
                    {% comment %} <div id = 'box_write_blok'> 
                    <p id='grid_write_p'> Написать статью </p>
                    <input type="text" name="title" required="" id="write_title" class='qwerty' placeholder="Название">
                    <textarea cols="6" name="text" rows="2" required="" id="write_text" placeholder='Текст'></textarea>
                    <input type="file" name="photo" multiple="" class="main_form_text" id="paste_file">
                    <button class='fd2' type="submit" name='memory' id='button_1'>сохранить</button>  
                    <button class='fd2' type="submit" name='write' id='button_2'>опубликовать</button>
                    <button class='fd2' type="submit" name='delete' id='button_3'>удалить</button>
                    </div> {% endcomment %}
                
            </div>
        </form> 

        </div>



        <div id="personal_information"> 
            <div id = 'personal_information1'>
                <div id = 'photo_user'>
                    Здесь может быть фото
                </div>
                <div id = 'nik_user'>
                    {{nik_user}}
                </div>
                <div id = 'status_user'>
                    <p>коллекционер</p>
                </div>
                <div id = 'class_user'>
                    <p>не является ФФП</p>
                </div>
                <div id = 'predmet_collection_user'>
                    <div id = 'predmet_collection_user2'>
                        <p>Интересует</p>
                    </div>
                    <div class = 'predmet_collection_user3'>
                        <p>object 1</p>
                        <p>object 2</p>
                    </div>
                </div>
                <div id = 'secret_information_user'>
                    <p>Закрытая </p>
                    <p>информация : </p>
                </div>
            </div>
        </div>
{% comment %} basic блок с основной информацией {% endcomment %}    

        <div id = 'info_blok'>     
            <div id = 'box_info_blok'>
                <form class='box_write_info_blok' method="post" action="">
                    {{ form_art.as_p }}

                    
                </form> 
                
  
                {% for i in for_editorial_office %}
                <div id = 'box_for_editorial_office'>
                    <button class='fd2'>РЕДАКТИРОВАТЬ</button>
                    <div class = 'or_editorial_office1'>
                        <div class = 'or_editorial_office11'>
                            <p> {{ i.title}}</p>
                        </div>
                    </div>
                    <div class = 'or_editorial_office2'>
                        <div class = 'or_editorial_office22'>
                            <p> {{ i.text}}</p>
                        </div>
                    </div>
                    <div class = 'or_editorial_office3'>
                        <div class = 'or_editorial_office33'>
                            <p> {{ i.photo}}</p>
                        </div>
                    </div>

                </div> 
                {% endfor %}

  
                {% for i in information_block %}
                <div class = 'info_blok_1'>
                    <div class = 'info_blok_2'>
                        <div class = 'info_blok_21'>
                            {{i.picture_author}}
                        </div>
                        <div class = 'info_blok_22'>
                            <div class = 'info_blok_221'>
                                <div class = 'info_blok_2212'>
                                    {{i.page_author}}
                                </div>
                                <div class = 'info_blok_2213'>
                                    {{i.time_publication}}
                                </div>
                                <div class = 'info_blok_2214'>
                                    {{i.categories}}
                                </div>
                            </div>
                            <div class = 'info_blok_222'>
                                {{i.table_contents}}
                            </div>
                        </div>
                    </div>
                    <div class = 'info_blok_3'>
                        {{i.text_contents}}
                    </div>
                    <div class = 'info_blok_4'>
                        <div class = 'info_blok_41'>
                            <div class = 'info_blok_41'>
                                {{i.symbol_ok}}
                            </div>
                            <div class = 'info_blok_41'>
                                {{i.count_symbol_ok}}
                            </div>
                            <div class = 'info_blok_41'>
                                {{i.symbol_bad}}
                            </div>
                            <div class = 'info_blok_41'>
                                {{i.count_symbol_bad}}
                            </div>
                        </div>
                        <div class = 'info_blok_42'>
                            {{i.comment_article}}
                        </div>
                        <div class = 'info_blok_43'>
                            {{i.write_author}}
                        </div> 
                        <div class = 'display_none'>
                        {{i.topic_interest}}
                        </div> 
                    </div> 
                </div>  
                {% endfor%} 
            </div>
        </div>
        
        <div id="messenges">
            ergbberbgerbg
        </div> 
    </div>
    


   

{% else %}
<a class='fd2' href="/main/"><button class='fd2'>НАЗАД</button></a> 
{% endif %} 
{% endblock %} 
<footer>
    <div id="f_d1">
        <div>&nbsp  Творческая студия:</div> 
        <div>&nbsp  GurIlVik</div> 
        <div>&nbsp  gilvik1@yandex.ru</div>
    </div>
</footer>  


</body> 
</html>



                       
<p id='i_b_1'>Комментировать:</p>

<textarea cols="60" name="comment" rows="20" id='id_comment' required="" id="id_comment"></textarea>
<div class='form-error' id='info_blok_52'>{{form.comment.errors}}</div>
<button class='fd2' type="submit" id='info_blok_53'>ВВОД</button>






{% comment %} {% for field in form_art %}
<div class="form-group">

{{field.label_tag}}
<div class='widget_box_write_info_blok'>{{field}}</div>
<div class='widget_box_write_info_blok'>{{field.title}}</div>
<input id="q1" name="title"/>
<div class="error">{{field.errors}}</div>
</div>
{% endfor %}
 ПОПЫТКА ОСЕДЛАТЬ ТРИ СЦЕНАРИЯ ОДНОЙ ФОРМЫ
<button class='fd2' type="submit" name='memory'>сохранить</button>  
<button class='fd2' type="submit" name='write'>опубликовать</button>
<button class='fd2' type="submit" name='delete'>удалить</button> {% endcomment %}