{% extends "personalpage/base.html" %}
{% load crispy_forms_tags %}


{% block title %}{{ title }}{% endblock %}

{% comment %} ОТОБРАЖЕИЕ МЕНЮ {% endcomment %}
{% block menu_block %} 
        {% comment %} {% if access == True %} {% endcomment %}
        {% comment %} {% for i in menu %} {% endcomment %}
        <div>
            {% comment %} <button id='header2' class='fd2' onclick="article()">{{ i }}</button> {% endcomment %}
            <button class='fd2' onclick="infoUser()">{{ menu.0 }}</button>
        </div>
        <div>
            {% if logik_1 == True %}
            <button class='fd2' onclick="article()">{{ menu.1 }}</button>
            {% endif %}
        </div> 
        <div>
            <a class='fd2' href="{% url 'main' %}"><button class='fd2'>{{ menu.2 }}</button></a> 
        </div> 
        <div>
            <a class='fd2' href="{% url 'logout' %}"><button class='fd2'>{{ menu.3 }}</button></a>
        </div>
        {% comment %} {% endfor %} {% endcomment %}
        {% comment %} {% endif %} {% endcomment %}
{% endblock %}

{% comment %} Меню написания статьи  {% endcomment %}
{% block alternativ_form %}
        <form class='alternativ_form' method="post" action="" id="alternativ_global" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="pu_div1">
                <div id="pu_div2">
                
                    <p class='p_popup'>Выберите предмет коллекционирования (правила демонстрации смотрите в настойках личного кабинета):</p>
                    <div id="pu_div21">{{ form.topic }}</div>
                    <p class='p_popup'>Выберите категорию:</p>
                    <div id="pu_div22">{{ form.categories }}</div>
                    <p class='p_popup'>Разрешить ли комментировать статью:</p>
                    <div id="pu_div23">{{ form.allowance }}</div>
                    <p class='p_popup'>Добавление фотографий:</p>
                    <div id="pu_div24">{{ form.photo }}</div>
                    <p></p>
                    <p></p>
                </div>  
                <div id="pu_div3">
                    <div id="pu_div3">
                        <p class='p_popup1'>Название статьи:</p>
                        {{ form.title }}
                        <p class='p_popup1'>Текст:</p>
                        {{ form.text }}
                    </div>
             
                    <div id="pu_div4">
                        <button class='fd2' type="submit" name='memory'>сохранить</button>  
                        <button class='fd2' type="submit" name='write'>опубликовать</button>
                        <button class='fd2' type="submit" name='delete'>удалить</button>
                    </div>
                </div>
            </div>
        </form> 
{% endblock %}

{% comment %} Меню подбора категорий {% endcomment %}
{% block pop_up_list %}
    <div id="alternative_global_3">
        <div class='stringDIV'>
            <p style="display: inline">Введите в поле название предмета коллекционирования: </p>
            <input style="display: inline" id="poisk" type="text" oninput="find_cat(this)" >
        </div>

        <div class='poleDIV'>
            <ul id="list_global">
                {% for i in list_a %}
                    <li style="display: inline"><button id={{i.name}} class='fd2' onclick="menuPoint20(this)" >{{ i.name }}</button></li>
                {% endfor %}
            </ul>
        </div>

        <div class='stringDIV' id='plusPredmet'>
            <p>Предмет коллекционирования:</p>
            </div>   
                <div class='stringDIV'>
                    <button class='fd2' onclick="menuPoint23()" >Добавить еще предмет</button>
                    <button class='fd2' onclick="menuPoint25()" >СБРОС</button>
                    <button class='fd2' onclick="menuPoint24()" >ЗАПОМНИТЬ</button>

            </div>    
    </div>
{% endblock %}

{% comment %} Блок ввода персональной информации  {% endcomment %}
{% block personal_information_write %}
    <div id="alternativ_form_div" >
        <div id="alternativ_form_div1" >
            {% if logik_1 != True %}
            <div id='form_use1'>
                <p class='p_popup'>1. Выбирите предмет интереса: </p><button class='fd2' onclick="viborPredmet()" >Выбрать</button>
                
                <form class='alternativ_form' method="post" action="" id="p_inf_write" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_info.interest }} 
                    <p class='p_popup'>2. Введите фотографию для отображения профиля:</p>
                    {{ form_info.photo }} 
                    <div>
                        <p class='p_popup'>3. Заполните поле для отражения рода вашей деятельности на сайте (представлен базовый пакет, при желании увеличить объемы размещаемых объявлений искать информацию на странице о сайте):</p>
                        <table>
                            <tr>
                                <td>Рубрика \ род деятельности</td>
                                <td>Коллекционер</td>
                                <td>Продавец</td>
                                <td>Эксперт</td> 
                                <td>Музей</td>
                            </tr>
                            <tr>
                                <td>Статьи - размещение общей информации о коллекционировании не привязанной к продаже и/или приобретению</td>
                                <td>Без ограничений</td>
                                <td>Не более 1/мес</td>
                                <td>Без ограничений</td> 
                                <td>Без ограничений</td>
                            </tr>
                            <tr>
                                <td>"Я ИЩУ" - размещение информации коллекционера о поиске предмета в коллекцию</td>
                                <td>Без ограничений</td>
                                <td>Закрыто</td>
                                <td>Не более 1/мес</td> 
                                <td>Без ограничений</td>
                            </tr>
                            <tr>
                                <td>"ПРОДАЮ" - размещение информации о продаже предметов коллекционирования</td>
                                <td>не более 3/мес</td>
                                <td>не более 50/мес</td>
                                <td>не более 3/мес</td> 
                                <td>Закрыто</td>
                            </tr>
                            <tr>
                                <td>"УСЛУГИ" - размещение информации о продаже предметов коллекционирования</td>
                                <td>не более 1/мес</td>
                                <td>не более 10/мес</td>
                                <td>не более 10/мес</td> 
                                <td>не более 2/мес</td>
                            </tr>
                        </table>
                    </div>
                    {{ form_info.profession }}
                    <p></p>
                    <input class='fd2' id='form_clik1' type="submit" value="Подтверждаю">  
                </form>  
            </div>
            <div class="alternativ_form_div" >
                <p class='p_popup'>Настройки личного профиля (обязательны для публикации материалов):</p>
                <button class='fd2' onclick="infoUser1()">Настроить</button>
                
            </div>
            {% else %}
                <p>Изменение параметров ранее осуществленных настроек в стадии разработки</p>
                <div></div>
                <button class='fd2' onclick='clouseWin()'>Закрыть</button>
            {% endif %}


            {% if acess_key != True %}
            <div class="alternativ_form_div" >
                
                <p class='p_popup'>Настройки доступа к стронице и личной информации</p>
                <p class='p_popup'>пока информация фидна только Вам:</p>
                <button class='fd2' onclick="infoUser2('form_use2')">Настроить</button>
                <div id='form_use2'>
                    <form class='alternativ_form' method="post" action="" id="te" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p class='p_popup'>1. ДОПУСК К ЛИЧНОЙ СТРАНИЦЕ:</p>
                        {{ acess_form.for_page }} 
                        <p class='p_popup'>2. ДОПУСК К ЛИЧНОЙ ИНФОРМАЦИИ НА СТРАНИЦЕ:</p>
                        {{ acess_form.for_inform }}
                        <p class='p_popup'>3. ДОПУСК К МЕССЕНЖЕРАМ:</p>
                        {{ acess_form.for_messeng }}
                        <p></p>
                        <input class='fd2' id='form_clik1' type="submit" value="Подтверждаю">  
                    </form> 
                </div>
            </div>
            {% else %}
            <p>Изменение параметров ранее осуществленных настроек в стадии разработки</p>
            <p></p>
            <button class='fd2' onclick='clouseWin()'>Закрыть</button>
            {% endif %}
            {% if logik_2 != True%}
            <div class="alternativ_form_div" >
                <p class='p_popup'>Контактная информация видна только администрации сайта:</p>
                <button class='fd2' onclick="infoUser2('form_use3')">Настроить</button>
                <div id='form_use3'>
                    <form class='alternativ_form' method="post" action="" id="te" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p class='p_popup'>1. Имя (наименовнаие организации):</p>
                        {{ secret_form.name }} 
                        <p class='p_popup'>2. Отчество (только для физ. лиц):</p>
                        {{ secret_form.name_last }}
                        <p class='p_popup'>3. Фамилия (только для физ. лиц):</p>
                        {{ secret_form.name_first }}
                        <p class='p_popup'>4. Телефон:</p>
                        {{ secret_form.telephon }}
                        <p></p>
                        <input class='fd2' id='form_clik1' type="submit" value="Подтверждаю">  
                    </form> 
                </div>
            </div>
            {% else %}
            <p>Изменение параметров ранее осуществленных настроек в стадии разработки</p>
            <p></p>
            <button class='fd2' onclick='clouseWin()'>Закрыть</button>
            {% endif %}
        </div>
    </div>        

{% endblock %}

{% comment %} блок с личной информацией {% endcomment %}    
{% block personal_information %}
    {% if logik_1 != True %}
        <div id = 'personal_information1'>
            <div id = 'photo_user'>
                Здесь может быть фото
            </div>
            <div id = 'nik_user'>
                
                {{nik_user}}
            </div>
            <div id = 'status_user'>
                <p>Род деятельности</p>
            </div>
            <div id = 'class_user'>
                <p>не является ФФП</p>
            </div>
            <div id = 'predmet_collection_user'>
                <div id = 'predmet_collection_user2'>
                    <p>Интересует</p>
                </div>
                <div class = 'predmet_collection_user3'>
                    <p>Предмет интереса</p>
                    <p>Предмет интереса</p>
                </div>
            </div>
        </div>
    {% else %}
        <div id = 'personal_information1'>
            <div id = 'photo_user'>
                <img src="{{ persona.photo.url }}"
                width="100%" height:"100%" object-fit:'contain'
                >
            </div>
            <div id = 'nik_user'>
                {{nik_user}}
            </div>
            <div id = 'status_user'>
                <p>{{ persona.profession }}</p>
            </div>
            <div id = 'class_user'>
                <p>не является ФФП</p>
            </div>
            <div id = 'predmet_collection_user'>
                <div id = 'predmet_collection_user2'>
                    <p>Интересует:</p>
                    <p>&nbsp</p>
                    <p>&nbsp</p>
                </div>
                <div class = 'predmet_collection_user3'>
                    {% for i in predmets %}
                    <p class='predmet_collection_user5'> {{ i }} </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}                                                    


{% comment %} basic блок с основной информацией {% endcomment %}    
{% block info_blok %}  
    {% if logik_1 != True %}
        <div id='text_logik_1'>
            <p>Вам открыто комментрование и просмотр постов доступных только членам клуба </p>
            <p>Но для размещения собственных постов, просьба пройти в настройки </p>
            <p>И настроить личный профиль!  </p>
            <p>Допуск на обновления до 5 минут</p>
        </div>
    {% else %}
    {% if key_article != True %}
        <div id='text_logik_1'>
            <p>Вы пока ни чего не написали</p>
        </div>
    {% else %}    
            <div id = 'box_info_blok'>
                {% for key, value in for_editorial_office.items %}
                <div class = 'box_for_editorial_office'>
                    <div class = 'or_editorial_office1'>
                            <p class = 'predmet_collection_user3'> {{ key.title }}</p>
                    </div>
                    <div class = 'or_editorial_office2'>
                            <p class = 'predmet_collection_user3'> {{ key.text }}</p>
                    </div>
                    <div class = 'or_editorial_office3'>
                            {% if value.0 == False %}
                            <p>фото не загружено</p>
                            {% else %}
                            <img class='img_for_arts' src="{{ value.0.url }}">  
                            {% endif %}
                    </div>
                    <div class = 'or_editorial_office4'>
                            <p class = 'predmet_collection_user3'>Черновик</p> 
                    </div>
                    <div class = 'or_editorial_office5'>
                        <button class='fd2' onclick="redaction()">РЕДАКТИРОВАТЬ</button>
                    </div>
                </div> 
                {% endfor %}

  
                {% for i in information_block %}
                <div class = 'info_blok_1'>
                    <div class = 'info_blok_2'>
                        <div class = 'info_blok_21'>
                            {{i.picture_author}}
                        </div>
                        <div class = 'info_blok_22'>
                            <div class = 'info_blok_221'>
                                <div class = 'info_blok_2212'>
                                    {{i.page_author}}
                                </div>
                                <div class = 'info_blok_2213'>
                                    {{i.time_publication}}
                                </div>
                                <div class = 'info_blok_2214'>
                                    {{i.categories}}
                                </div>
                            </div>
                            <div class = 'info_blok_222'>
                                {{i.table_contents}}
                            </div>
                        </div>
                    </div>
                    <div class = 'info_blok_3'>
                        {{i.text_contents}}
                    </div>
                    <div class = 'info_blok_4'>
                        <div class = 'info_blok_41'>
                            <div class = 'info_blok_41'>
                                {{i.symbol_ok}}
                            </div>
                            <div class = 'info_blok_41'>
                                {{i.count_symbol_ok}}
                            </div>
                            <div class = 'info_blok_41'>
                                {{i.symbol_bad}}
                            </div>
                            <div class = 'info_blok_41'>
                                {{i.count_symbol_bad}}
                            </div>
                        </div>
                        <div class = 'info_blok_42'>
                            {{i.comment_article}}
                        </div>
                        <div class = 'info_blok_43'>
                            {{i.write_author}}
                        </div> 
                        <div class = 'display_none'>
                        {{i.topic_interest}}
                        </div> 
                    </div> 
                </div>  
                {% endfor%} 
            </div>
       
    {% endif %} 
    {% endif %}       
{% endblock %}        
        
 
{% block messenges %}  
<p>почтовик</p>
{% endblock %}

 