{% block content %}
{% block title %}{% endblock %}
{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static '/personalpage/base.css' %}" type='text/css'>
    <script src="{% static '/personalpage/script.js' %}"></script>
</head>
<body>
    
    <header>
        {% if access == True %}
        <div><p><input class='fd2' type="submit" value="НАСТРОЙКИ"></p></div>
        <div>
            <a class='fd2' href="/main/"><button class='fd2'>К ОБЩЕСТВУ</button></a> 
        </div> 
        <div>
            <a class='fd2' href="/account/logout/"><button class='fd2'>ВЫХОД</button></a></div>
        </div>
        {% endif %}
    </header>

    {% if register == True %}
    
    <div id="global">

    <div id="personal_information"> 

        <div id = 'photo_user'>
                Здесь должно быть фото
            </div>
        <div id = 'nik_user'>
            {{nik_user}}
        </div>
        <div id = 'status_user'>
            <p>коллекционер ли </p>
        </div>
        <div id = 'class_user'>
            <p>пожтвержден ли </p>
        </div>
        <div id = 'predmet_collection_user'>
            <p>Коллекция: </p>
        </div>
        <div id = 'secret_information_user'>
            <p>Закрытая информация : </p>
        </div>


        hfbvehrbvkherjb
        {% for i in amalker %}
        <div class = 'amalker_blok_1'>
            <div class = 'amalker_blok_2'>
                {{i.name_seller}}
            </div>
            <div class = 'amalker_blok_3'>
                {{i.tabloid}}
            </div>
        </div>
       {% endfor%}   
    </div>    

{% comment %} basic блок с основной информацией {% endcomment %}    
    
        <div id = 'info_blok'>
            er;lkgne;lrkgn
      

  
        {% for i in information_block %}
        <div class = 'info_blok_1'>
            <div class = 'info_blok_2'>
                <div class = 'info_blok_21'>
                    {{i.picture_author}}
                </div>
                <div class = 'info_blok_22'>
                    <div class = 'info_blok_221'>
                        <div class = 'info_blok_2212'>
                            {{i.page_author}}
                        </div>
                        <div class = 'info_blok_2213'>
                            {{i.time_publication}}
                        </div>
                        <div class = 'info_blok_2214'>
                            {{i.categories}}
                        </div>
                    </div>
                    <div class = 'info_blok_222'>
                        {{i.table_contents}}
                    </div>
                </div>
            </div>
            <div class = 'info_blok_3'>
                {{i.text_contents}}
            </div>
            <div class = 'info_blok_4'>
                <div class = 'info_blok_41'>
                    <div class = 'info_blok_41'>
                        {{i.symbol_ok}}
                    </div>
                    <div class = 'info_blok_41'>
                        {{i.count_symbol_ok}}
                    </div>
                    <div class = 'info_blok_41'>
                        {{i.symbol_bad}}
                    </div>
                    <div class = 'info_blok_41'>
                        {{i.count_symbol_bad}}
                    </div>
                </div>
                <div class = 'info_blok_42'>
                    {{i.comment_article}}
                </div>
                <div class = 'info_blok_43'>
                    {{i.write_author}}
                </div> 
        <div class = 'display_none'>
            {{i.topic_interest}}
        </div>
            </div>
        </div>
    
       
       {% endfor%} 
    </div> 


    <div id="messenges">
        ergbberbgerbg
    </div>
</div> 

   


{% else %}
<a class='fd2' href="/main/"><button class='fd2'>НАЗАД</button></a> 
{% endif %}
{% endblock %}
<footer>
    <div id="f_d1">
        <div>&nbsp  Творческая студия:</div> 
        <div>&nbsp  GurIlVik</div> 
        <div>&nbsp  gilvik1@yandex.ru</div>
    </div>
</footer>  


</body> 
</html>