* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }

body {
    width: auto;
    background: #fff7fc79;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    
    height: 40px;
    width: 100%;
    background: #c0c4ac79;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 2vw;
}

.fd2 {
    font-size: medium;
    background-color:rgb(163, 163, 163);
    height: 3.3vw;
    max-height: 30px;
    width: auto;
    min-width: 120px;
    border-radius: 20%;
    color: white;
}


#global {
    
    width: 100%;
    top: 40px;
    display: flex;
    background-color: aqua;
    flex-direction: row;
    justify-content: center;
}

/* БЛОК С ИНФОРМАЦИЕЙ Об АТОРЕ */
#advertisement {
    width: 230px;
    height: 100%;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#photo_autor {
    width: 200px;
    height: 200px;
    border: solid 2px black;
    margin: 15px 15px 20px 15px;
}

#name_autor {
    width: 200px;
    height: 48px;
    margin: 0px 15px 40px 15px;
    color: black;
    text-align: center;
    font-size: 32px;
}

.a_1 {
    width: 200px;
    height: 24px;
    text-align: center;
    margin: 0px 15px 10px 15px;
    font-size: 20px;
}
.a_2 {
    width: 200px;
    text-align: center;
    margin: 0px 15px 40px 15px;
    font-size: 24px;
    color: blue;
}

/* БЛОК САМОЙ СТАТЬИ */

#basic {
    height: 100%;
    width: 72%;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    border-left: solid 3px black;
}

/* БЛОК САМОЙ СТАТЬИ */
/* Блок отображениея статьи */
#info_blok_1 {
    height: 48px;
    width: 100%;
    font-size: 32px;
    text-align: center;
    margin-top: 16px;
}

#info_blok_2 {
    width: 100%;
    font-size: 20px;
    margin-top: 16px;
}

#info_blok_3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: #000 5px solid;
}
#info_blok_4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: solid 2px black;
    border-bottom: 2px solid #000;
    justify-content: space-between;
    
}
#info_blok_41 {
    width: 230px;
    display: flex;
    flex-direction: row;
    text-align: center;
}
#info_blok_42 {
    width: 230px;
}
 /* ОТОБРАЖЕНИЯ ПОДБЛОКА ВОДА КОММЕНТАРИЕВ */
#info_blok_5 {
    display: grid;
    height:200px;
    width: 100%;
    grid-template-columns: 3fr 13fr;
    grid-template-rows: 50px 100px 50px;
    border-bottom: #000 solid 2px;
}

#info_blok_51 {
    grid-row: 1;
    grid-column: 1;
    height: 48px;
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 5px;
}

#info_blok_52{
    grid-row: 2;
    grid-column: 1;
}
#id_comment {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column: 2;
    height: 80%;
    width: 80%;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    margin-top: 1%;
}
#info_blok_53 {
    grid-row: 3;
    grid-column: 1;
    height: 24px;
    width: 80%;
    font-size: 18px;
    text-align: center;
}
#info_blok_6{
    width: 100%;
    height: 7px;
    border-bottom: solid 2px black;
}
#info_blok_511 {
    display: none;
}

/* ПОДБЛОК отображения ВВОДА КОММЕНТАРИЯ */
.info_blok_7 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-bottom: #000 solid 1px;
}
.info_blok_71 {
    display: grid;
    grid-template-columns: 20fr 20fr 20fr 2fr 4fr 2fr 4fr;
    grid-template-rows: 1fr;
    font-size: 18px;
}
.info_blok_72 {
    font-size: 18px;
}

#info_blok_73 {
    display: none;
    z-index: 1;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 80px;
    width: 80%;
    background-color: rgb(210, 255, 240);
    border: #000 solid 2px;
}
#id_comment2 {
    height: 40px;
    width: 100%;
}


/* отображение подвала */
footer {
    color: white;
    background: #23041979;
    height: 45px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#f_d1 {
    left: 0px;
    font-size: 11px;
    font-weight: 300;
    width: 120px;
}

#f_d2 {
    width: 100%;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#q1{
    display: none;
 }

#for_win_up {
    display: none;
}

.modal_not_register_class {
    display: none;
    position: relative;
    z-index: 1;
    left: 0px;
    top: -30px;
    height: 120px;
    width: 400px;
    overflow: auto;
    background-color: rgb(227, 239, 223, 0.6);
    border: 1px solid rgba(118, 230, 81, 0.7);
}

.modal_not_register_contetnt_class {
    background-color: rgba(92, 123, 82, 0.8);
}

.close_modal_not_register {
    color: aquamarine;
    float: right;
    font-size: medium;
    font-weight: bold;
}
