body {
    height: 100%;
    width: auto;
    background: #fff7fc79;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 40px;
    width: 100%;
    background: #c0c4ac79;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 2vw;
}

.fd2 {
    font-size: medium;
    background-color:rgb(163, 163, 163);
    height: 3.3vw;
    max-height: 30px;
    width: auto;
    min-width: 120px;
    border-radius: 20%;
    color: white;
}

#alternative_global_2 {
    height: 40%;
    width: 100%;
    top: 40px;
    position: absolute;
    display: flex;
    background-color: rgb(227, 239, 223);
    flex-direction: column;
    justify-content: center;
    font-size: 2vw;
    z-index: -10
}

.stringDIV {
    margin: 0px;
    padding: 10px;
    border: 0px;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.poleDIV {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;

}

#global {
    height: 100%;
    width: 100%;
    top: 40px;
    position: absolute;
    display: flex;
    background-color: aqua;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 2vw;
}


#advertisement {
    height: 100%;
    width: 20%;
    position: relative;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.amalker_blok_1 {
    height: 10%;
    width: 100%;
    padding: 1px;
    font-size: 1vw;
    /* position: relative; */
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: rgb(113, 228, 228);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.amalker_blok_2 {
    height: 25%;
    width: 100%;
    font-size: 1vw;
    /* position: relative; */
    background-color: rgb(72, 32, 204);
    
}

.amalker_blok_3 {
    height: 75%;
    width: 100%;
    font-size: 1vw;
    /* position: relative; */
    background-color: rgb(220, 98, 23);
    
}

.display_none {
    display: none;
}

#basic {
    height: 100%;
    width: 80%;
    position: relative;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info_blok_1 {
    border: black;
    border: 1px;
    margin: 2px;
    padding: 3px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.info_blok_2 {
    width: 100%;
    height: 25%;
    border-color: black;
    border: 1px;
    margin: 2px;
    padding: 1px;
    background-color: rgb(87, 157, 219);
    display: flex;
    flex-direction: row;
}

.info_blok_21 {
    width: 15%;
    height: 100%;
    margin: 1px;
    padding: 1px;
    background-color: rgb(41, 117, 183);
    display: block;
}

.info_blok_22 {
    width: 85%;
    height: 100%;
    margin: 1px;
    padding: 1px;
    background-color: rgb(114, 20, 108);
    display: flex;
    flex-direction: column;
}

.info_blok_221 {
    width: 100%;
    height: 100%;
    margin: 1px;
    padding: 1px;
    background-color: rgb(93, 34, 39);
    display: flex;
    flex-direction: row;
}
.info_blok_2212 {
    width: 33%;
    height: 100%;
    margin: 1px;
    padding: 1px;
    background-color: rgb(121, 235, 231);
}

.info_blok_2213 {
    width: 33%;
    height: 100%;
    margin: 1px;
    padding: 1px;
    background-color: rgb(87, 80, 232);}

.info_blok_2214 {
    width: 33%;
    height: 100%;
    margin: 1px;
    padding: 1px;
    background-color: rgb(223, 114, 231);}

.info_blok_222 {
    width: 100%;
    height: 100%;
    margin: 1px;
    padding: 1px;
    background-color: rgb(98, 192, 91);
}

.info_blok_3 {
    width: 100%;
    height: 63%;
    border: black;
    border: 1px;
    margin: 2px;
    padding: 1px;
    background-color: rgb(58, 196, 148);
}

.info_blok_4 {
    width: 100%;
    height: 12%;
    border: black;
    border: 1px;
    margin: 2px;
    padding: 1px;
    background-color: rgb(230, 66, 236);
    display: flex;
    flex-direction: row;
}

.info_blok_41 {width: 20%;
    height: 100%;
    border: black;
    border: 1px;
    margin: 2px;
    padding: 1px;
    background-color: rgb(107, 60, 108);
    display: flex;
    flex-direction: row;}

.info_blok_42 {height: 70%;
    width: 100%;
    border: black;
    border: 1px;
    margin: 2px;
    padding: 1px;
    background-color: rgb(184, 101, 186);}

.info_blok_43 {height: 20%;
    width: 100%;
    border: black;
    border: 1px;
    margin: 2px;
    padding: 1px;
    background-color: rgb(232, 48, 235);}

footer {
    color: white;
    background: #23041979;
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: -85px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#f_d1 {
    left: 0px;
    font-size: 11px;
    font-weight: 300;
    width: 120px;
}

#f_d2 {
    width: 100%;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#q1{
    display: none;
 }

#for_win_up {
    display: none;
}

.modal_not_register_class {
    display: none;
    position: relative;
    z-index: 1;
    left: 0px;
    top: -30px;
    height: 120px;
    width: 400px;
    overflow: auto;
    background-color: rgb(227, 239, 223, 0.6);
}

.modal_not_register_contetnt_class {
    background-color: rgba(92, 123, 82, 0.8);

    border: 1px solid rgba(118, 230, 81, 0.7);
}

.close_modal_not_register {
    color: aquamarine;
    float: right;
    font-size: medium;
    font-weight: bold;
}
