* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }


body {
    height: inherit;
    width: auto;
    background: #fff7fc79;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    
    height: 40px;
    width: 100%;
    background: #c0c4ac79;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 2vw;
}

.fd2 {
    font-size: medium;
    background-color:rgb(163, 163, 163);
    height: 3.3vw;
    max-height: 30px;
    width: auto;
    min-width: 120px;
    border-radius: 20%;
    color: white;
}

#alternative_global_2 {
    height: 40%;
    width: 100%;
    top: 40px;
    position: absolute;
    display: flex;
    background-color: rgb(227, 239, 223);
    flex-direction: column;
    justify-content: center;
    font-size: 2vw;
    z-index: -10
}

.stringDIV {
    margin: 0px;
    padding: 10px;
    border: 0px;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.poleDIV {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;

}

#global {
    width: 100%;
    top: 40px;
    display: flex;
    background-color: aqua;
    flex-direction: row;
    font-size: 2vw;
    justify-content: center;
}

/* БЛОК С РЕКЛАМНОЙ И ИНФОРМАЦИЕЙ Об АТОРЕ */
#advertisement {
    width: 230px;
    height: 100%;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.amalker_blok_1 {
    height: 10%;
    width: 100%;
    padding: 1px;
    font-size: 1vw;
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: rgb(113, 228, 228);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.amalker_blok_2 {
    height: 25%;
    width: 100%;
    font-size: 1vw;
    background-color: rgb(72, 32, 204);
    
}

.amalker_blok_3 {
    height: 75%;
    width: 100%;
    font-size: 1vw;
    background-color: rgb(220, 98, 23);
    
}

.display_none {
    display: none;
}

#basic {
    height: 100%;
    width: 85%;
    background-color: darkcyan;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer {
    color: white;
    background: #23041979;
    height: 45px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#f_d1 {
    left: 0px;
    font-size: 11px;
    font-weight: 300;
    width: 120px;
}

#f_d2 {
    width: 100%;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#q1{
    display: none;
 }

#for_win_up {
    display: none;
}

.modal_not_register_class {
    display: none;
    position: relative;
    z-index: 1;
    left: 0px;
    top: -30px;
    height: 120px;
    width: 400px;
    overflow: auto;
    background-color: rgb(227, 239, 223, 0.6);
    border: 1px solid rgba(118, 230, 81, 0.7);
}

.modal_not_register_contetnt_class {
    background-color: rgba(92, 123, 82, 0.8);
}

.close_modal_not_register {
    color: aquamarine;
    float: right;
    font-size: medium;
    font-weight: bold;
}

/* Отображение блока грид для инфо блока */
.info_blok_grid_main {
    display: grid;
    height:420px;
    width: 630px;
    grid-template-columns: 2fr 3fr 2fr 3fr 10fr 10fr 10fr;
    grid-template-rows: 2fr 3fr 10fr 10fr 2fr;
    border: solid 2px blue;
    margin: 12px 0px 0px 12px;
    padding: 0px;
}
.info_blok_grid_main div:nth-child(even) {
    text-align: center;
}
.info_blok_grid_main div:nth-child(odd) {
    text-align: center;
}
.grid_main_p {
    margin: 0px;
    font-size: 21px;
}
.grid_main_field1 {
    color:rgb(81, 81, 81);
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 18px;
}
.grid_main_field1 a:first-child {
    font-size: 18px;
    background-color: #23041979;
}

.grid_main_field2 {
    grid-column: 5; 
    grid-row: 1;
}
.grid_main_field3 {
    grid-column: 6; 
    grid-row: 1;
}
.grid_main_field4 {
    grid-column: 7; 
    grid-row: 1;
}
.grid_main_field5 {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 8;
}
.grid_main_field5 p:first-child() {
    text-align: left;
}
.grid_main_field6 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 7;
    text-overflow: ellipsis;
    overflow: hidden;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
.grid_main_field2 {
    grid-column: 5; 
    grid-row: 1;
}
.grid_main_field3 {
    grid-column: 6; 
    grid-row: 1;
}
.grid_main_field4 {
    grid-column: 7; 
    grid-row: 1;
}
.grid_main_field5 {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 8;
    border-top: 1px blue solid;
    border-bottom: 2px blue solid;
    overflow: hidden;
}
.grid_main_field7, 
.grid_main_field8 {
    border: solid black 2px;
    padding: 3px;
}
.grid_main_field7 {
    margin: 4px 4px 4px 4px;
    overflow: hidden;

}
.grid_main_field8 {
    margin: 0px 4px 4px 4px;
    overflow: hidden;
}
.grid_main_field9, 
.grid_main_field10,
.grid_main_field11, 
.grid_main_field12,
.grid_main_field13, 
.grid_main_field14,
.grid_main_field15 {
    border-top: solid black 3px;
}

.info_blok_90, .info_blok_91 {
    display: none;
    height: 70%;
    width: 70%;
    z-index: 2;
    position : fixed;
    overflow : auto;
    left : 15%;
    top : 15%;
}
.info_blok_91 {
    z-index: 3;
    cursor : zoom-out;
}
.info_blok_93 {
    position: relative;
    right: 0;
    bottom: 0;
   color: red;
}


.img_for_arts {
    height: 100%;
    width: 100%;
    cursor: zoom-in;
}