{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static '/main/base.css' %}" type='text/css'>
    <script src="{% static '/main/script.js' %}"></script>
</head>
{% block content %}
{% csrf_token %}
<body>

    <header>
        <div><p><input class='fd2' type="submit" value="О сайте"></p></div>
        <div>
            <button class='fd2' onclick="menuPoint2()">Предмет коллекции</button>
        </div>
        
        <div>
            <button class='fd2' onclick="menuPoint3('СТАТЬИ')">Статьи</button>
        </div>
        <div>
            <button class='fd2' onclick="menuPoint3('Я ИЩУ')">Я ищу:</button>
        </div>
        <div>
            <button class='fd2' onclick="menuPoint3('ПРОДАЮ')">Продам</button>
        </div>
        {% if request.user.is_authenticated %}
        <div ><a href="{{ puth_paesonalpage }}"><button class='fd2'>Своя страница</button></a></div>
        {% endif %}

        <div ><a href="{{ puth_exit_enter }}"><button class='fd2'>{{ log }}</button></a></div>
    </header>
    
    <div id="alternative_global_2">
        <div class='stringDIV'>
            <p style="display: inline">Введите в поле название предмета коллекционирования: </p>
            <input style="display: inline" id="poisk" type="text" oninput="find_cat(this)" >
        </div>

        <div class='poleDIV'>
            <ul id="list_global">
                {% for i in a %}
                    <li style="display: inline"><button id={{i.name}} class='fd2' onclick="menuPoint20(this)" >{{ i.name }}</button></li>
                {% endfor %}
            </ul>
        </div>

        <div class='stringDIV' id='plusPredmet'>
            <p>Предмет коллекционирования:</p>
            </div>   
                <div class='stringDIV'>
                    <button class='fd2' onclick="menuPoint23()" >Добавить еще предмет</button>
                    <button class='fd2' onclick="menuPoint25()" >СБРОС</button>
                        <form id='formapredmet_collection' method="post" action="">
                        {% csrf_token %}
                        <input id="q1" name="pole"/><button class='fd2' type="submit" >К ПОИСКУ</button>
                    </form>
            </div>    
    </div>


    <div id="global">

        <div id="advertisement"> 
            {% for i in amalker %}
            <div class = 'amalker_blok_1'>
                <div class = 'amalker_blok_2'>
                    {{i.name_seller}}
                </div>
                <div class = 'amalker_blok_3'>
                    {{i.tabloid}}
                </div>
            </div>
            {% endfor%}   
        </div>    

        <div id="basic">
            {% if key_article != True %}
                <p>Странно но нет публикаций</p>
            {% else %}

            {% for key, value in info_blok.items %}
            {% csrf_token %}
            <div class = 'info_blok_grid_main' id='{{key.id}}'>
                <div class = 'grid_main_field1'>
                        <a href="/personalpage/{{ key.author }}" class='grid_main_p'>
                            {{key.author}}
                    </a>
                </div>
                <div class = 'grid_main_field2' >
                    <p class='grid_main_p'>{{ key.time_publication | date:"j E Y" }}</p>
                </div>
                <div class = 'grid_main_field3'>
                    <p class='grid_main_p'></p>
                </div>
                {% for key2, value2 in value.items %}
                <div class = 'grid_main_field4'>
                    <p class='grid_main_p'>{{key2}} ФОТО</p>
                </div>
                <div class = 'grid_main_field5'>
                    <p class='grid_main_p'> {{ key.title }} </p>
                </div>
                <div class = 'grid_main_field6'>
                    <p class='grid_main_p'> {{ key.text }} </p>
                </div>
                    {% if key2 == 0 %}
                    <div class = 'grid_main_field7'>
                        <p class='grid_main_p'>нет Фото</p>
                    </div>
                    <div class = 'grid_main_field8'>
                        <p class='grid_main_p'>нет Фото</p>
                    </div>
                    {% elif key2 == 1 %}
                    <div class = 'grid_main_field7'>
                        <img class='img_for_arts' onclick='fun_foto(this)' src="{{ value2.0.url }}"> 
                    </div>
                    <div class = 'grid_main_field8'>
                        <p class='grid_main_p'>нет Фото</p>
                    </div>
                    {% else %}
                    <div class = 'grid_main_field7'>
                        <img class='img_for_arts' onclick='fun_foto(this)' src="{{ value2.0.url }}"> 
                    </div>
                    <div class = 'grid_main_field7'>
                        <img class='img_for_arts' onclick='fun_foto(this)' src="{{ value2.1.url }}"> 
                    </div>
                    {% endif %}
                {% endfor %}
                <div class = 'grid_main_field9'>
                    <p class='grid_main_p'>&#x1F44D;</p>
                </div>
                <div class = 'grid_main_field10'>
                    <p class='grid_main_p'> {{ key.count_symbol_ok }} </p>
                </div>
                <div class = 'grid_main_field11'>
                    <p class='grid_main_p'>&#128078;</p>
                </div>
                <div class = 'grid_main_field12'>
                    <p class='grid_main_p'>{{ key.count_symbol_bad }}</p>
                </div>
                <div class = 'grid_main_field13'>
                    <a href='/main/{{key.author}}/{{key.id}}' class='grid_main_p'>Подробнее</a>
                </div>
                <div class = 'grid_main_field14'>
                    <p class='grid_main_p'>&#x270D; Автору</p>
                </div>
                <div class = 'grid_main_field15'>
                    <p class='grid_main_p'>Не показывать</p>
                </div>
            </div>
            
            {% endfor%}
            {% endif %}
            <div class = 'info_blok_90' id='info_blok_90'>
            </div>        
            <div class = 'info_blok_91' id='info_blok_91'>
                <button class = 'info_blok_93' onclick="clouse_photo()">&times;</button>
            </div>



        </div>

    </div>

    
    
    <footer>

        <div id="f_d1">
            <div>&nbsp  Творческая студия:</div> 
            <div>&nbsp  GurIlVik</div> 
            <div>&nbsp  gilvik1@yandex.ru</div>
        </div>
        <div id="f_d2">

            <div >
                {% if request.user.is_authenticated %}
                <a class='fd2' href="/account/logout/"><button class='fd2'>ВЫХОД</button></a></div>
                {% else %}
                <a class='fd2' href="/"><button class='fd2'>Регистрация/ВХОД</button></a></div>
                {% endif %}
            
        </div> 
    </footer>  

    
</body> 
{% endblock %}
</html>

{% comment %} w
<button class='fd2' id='not_register' onclick="Comment_authentic_comment_not_register()">Комментировать</button>
<div class= 'modal_not_register_class' id='modal_not_register_id'>
    <div class= 'modal_not_register_contetnt_class'>
        <button class='close_modal_not_register' onclick='close_modal_not_register()'>&times;</button>
        <p class='close_modal_not_register2'>Вы не прошли регистрацию</p>
        <a class='close_modal_not_register2' href="/"><button class='fd2'>Регистрация/ВХОД</button></a></div>
    </div>
w {% endcomment %}