{% load static %}
{% csrf_token %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static '/main/base.css' %}" type='text/css'>
    <script src="{% static '/main/script.js' %}"></script>
</head>
<body>
    
    <header>

        <div><p><input class='fd2' type="submit" value="О сайте"></p></div>
        <div>
            <button class='fd2' onclick="menuPoint2()">Предмет коллекции</button>
        </div>
        
        <div>
            <button class='fd2' onclick="menuPoint3('СТАТЬИ')">Статьи</button>
        </div>
        <div>
            <button class='fd2' onclick="menuPoint3('Я ИЩУ')">Я ищу:</button>
        </div>
        <div>
            <button class='fd2' onclick="menuPoint3('ПРОДАЮ')">Продам</button>
        </div>
        {% if request.user.is_authenticated %}
        <div ><a href="{{ puth_paesonalpage }}"><button class='fd2'>Своя страница</button></a></div>
        {% endif %}

        <div ><a href="{{ puth_exit_enter }}"><button class='fd2'>{{ log }}</button></a></div>

    </header>
    
    <div id="alternative_global_2">
        <div class='stringDIV'>
            <p style="display: inline">Введите в поле название предмета коллекционирования: </p>
            <input style="display: inline" id="poisk" type="text" oninput="find_cat(this)" >
        </div>

        <div class='poleDIV'>
            <ul id="list_global">
                {% for i in a %}
                    <li style="display: inline"><button id={{i.name}} class='fd2' onclick="menuPoint20(this)" >{{ i.name }}</button></li>
                {% endfor %}
            </ul>
        </div>

        <div class='stringDIV' id='plusPredmet'>
            <p>Предмет коллекционирования:</p>
            </div>   
                <div class='stringDIV'>
                    <button class='fd2' onclick="menuPoint23()" >Добавить еще предмет</button>
                    <button class='fd2' onclick="menuPoint25()" >СБРОС</button>
                        <form id='formapredmet_collection' method="post" action="">
                        {% csrf_token %}
                        <input id="q1" name="pole"/><button class='fd2' type="submit" >К ПОИСКУ</button>
                    </form>
            </div>    
    </div>


    <div id="global">

    <div id="advertisement"> 
        {% for i in amalker %}
        <div class = 'amalker_blok_1'>
            <div class = 'amalker_blok_2'>
                {{i.name_seller}}
            </div>
            <div class = 'amalker_blok_3'>
                {{i.tabloid}}
            </div>
        </div>
       {% endfor%}   
    </div>    

{% comment %} basic блок с основной информацией {% endcomment %}    
    <div id="basic">
        {% for i in info_blok %}
        <div class = 'info_blok_1'>
            <div class = 'info_blok_2'>
                <div class = 'info_blok_21'>
                    {{i.picture_author}}
                </div>
                <div class = 'info_blok_22'>
                    <div class = 'info_blok_221'>
                        <div class = 'info_blok_2212'>
                            {{i.page_author}}
                        </div>
                        <div class = 'info_blok_2213'>
                            {{i.time_publication}}
                        </div>
                        <div class = 'info_blok_2214'>
                            {{i.categories}}
                        </div>
                    </div>
                    <div class = 'info_blok_222'>
                        {{i.table_contents}}
                    </div>
                </div>
            </div>
            <div class = 'info_blok_3'>
                {{i.text_contents}}
            </div>
            <div class = 'info_blok_4'>
                <div class = 'info_blok_41'>
                    <div class = 'info_blok_41'>
                        {{i.symbol_ok}}
                    </div>
                    <div class = 'info_blok_41'>
                        {{i.count_symbol_ok}}
                    </div>
                    <div class = 'info_blok_41'>
                        {{i.symbol_bad}}
                    </div>
                    <div class = 'info_blok_41'>
                        {{i.count_symbol_bad}}
                    </div>
                </div>
                <div class = 'info_blok_42'>
                    <a href='/main/{{i.page_author}}/{{i.id}}'>Подробнее/Коментировать</a>
                    {% comment %} <a href="{{ puth_publication }}">Коментировать</a> {% endcomment %}
                   
                </div>
                <div class = 'info_blok_43'>
                    {{i.write_author}}
                </div> 
        <div class = 'display_none'>
            {{i.topic_interest}}
        </div>
            </div>
        </div>
       
       {% endfor%}
    </div>

    </div>
    
    
    
    <footer>

        <div id="f_d1">
            <div>&nbsp  Творческая студия:</div> 
            <div>&nbsp  GurIlVik</div> 
            <div>&nbsp  gilvik1@yandex.ru</div>
        </div>
        <div id="f_d2">

            <div >
                {% if request.user.is_authenticated %}
                <a class='fd2' href="/account/logout/"><button class='fd2'>ВЫХОД</button></a></div>
                {% else %}
                <a class='fd2' href="/"><button class='fd2'>Регистрация/ВХОД</button></a></div>
                {% endif %}
            {% comment %} ЗДЕСЬ ДОЛЖЕН БЫТЬ ВЫХОД  {% endcomment %}
        </div> 
    </footer>  


</body> {% endblock %}
</html>