{% load static %}
{% csrf_token %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static '/main/base.css' %}" type='text/css'>
    <script src="{% static '/main/script.js' %}"></script>
    {%comment%} {% static "/account/base.css" %} {%endcomment%}
</head>
<body>
    
    <header>

        <div><p><input class='fd2' type="submit" value="О сайте"></p></div>
        <div>
            <button class='fd2' onclick="menuPoint2()" >Предмет коллекции</button>
        </div>
        
        <div><p><input class='fd2' type="submit" value="Статьи"></p></div>
        <div><p><input class='fd2' type="submit" value="Приобретение"></p></div>
        <div ><a href="/"><button class='fd2'>НАЗАД</button></a></div>  {% comment %} требуется дописать кнопку - регистрация или выход {% endcomment %}

    </header>
    
    <div id="alternative_global_2">
        <div class='stringDIV'>
            <p style="display: inline">Введите в поле название предмета коллекционирования: </p>
            <input style="display: inline" id="poisk" type="text" oninput="find_cat(this)" >
        </div>

        <div class='poleDIV'>
            <ul id="list_global">
                {% for i in a %}
                    <li style="display: inline"><button id={{i.name}} class='fd2' onclick="menuPoint20(this)" >{{ i.name }}</button></li>
                {% endfor %}
            </ul>
        </div>

        <div class='stringDIV' id='plusPredmet'>
            <p>Предмет коллекционирования:</p>

            <form method="post" action="">
                {% csrf_token %}
                {% comment %} <p> <input id="q1" name="pole" /></p> {% endcomment %}
            </div>  
        <div class='stringDIV'>
                    <button class='fd2' onclick="menuPoint23()" >Добавить еще предмет</button>
                    <input class='fd2' type="submit" value="К ПОИСКУ"></form>
                </div>    
         
    </div>


    <div id="global">

    <div id="advertisement"> 
          
            {% comment %} <input id="poisk" type="text" oninput="find_cat(this)" value="Предмет коллекции"> {% endcomment %}
            
            
    </div>    

    <div id="basic">
    </div>

    </div>
    
    
    
    <footer>
        <div id="f_d1">
            <div>&nbsp  Творческая студия:</div> 
            <div>&nbsp  GurIlVik</div> 
            <div>&nbsp  gilvik1@yandex.ru</div>
        </div>
        <div id="f_d2">
            {% comment %} <div ><a class='fd2' href="/account/login/"><button class='fd2'>Вход по имени</button></a></div>  {% endcomment %}
            {% comment %} ЗДЕСЬ ДОЛЖЕН БЫТЬ ВЫХОД  {% endcomment %}
        </div> 
    </footer>  


</body> {% endblock %}
</html>