{% load static %}
{% comment %} {% csrf_token %} {% endcomment %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static '/main/base2.css' %}" type='text/css'>
    <script src="{% static '/main/script.js' %}"></script>
</head>
<body>
    
    <header>

        <div>
            <p><input class='fd2' type="submit" value="О сайте"></p></div>
        <div>
            <a href="/main/"><button class='fd2'>На главную</button></a>
        </div>
        {% if request.user.is_authenticated %}
        <div ><a href="{{ puth_paesonalpage }}"><button class='fd2'>Своя страница</button></a></div>
        {% else %}
        <div ><a href="/"><button class='fd2'>Регистрация</button></a></div>
        {% endif %}

    </header>


    <div id="global">
        {% for i in info_blok %}

        <div id="advertisement"> 
            <div id="photo_autor"> 
                    {{i.picture_author}}
            </div>
            <div id="name_autor"> 
                {{i.page_author}}
            </div>
            <div class="a_1"> 
               <p>Название статьи</p>
            </div>
            <div class="a_2"> 
                {{i.table_contents}}
            </div>
            <div class="a_1"> 
                <p>Дата публикации</p>
             </div>
             <div class="a_2"> 
                {{i.time_publication | date:"j E Y" }}
             </div>
             <div class="a_1"> 
                <p>Рубрика</p>
             </div>
             <div class="a_2"> 
                {{i.categories}}
             </div>
             <div class="a_1"> 
                <p>Раздел</p>
             </div>
             <div class="a_2"> 
                {{i.topic_interest}}
             </div>

             
        </div>    

               {% comment %} basic блок с основной информацией {% endcomment %}    
        <div id="basic">
            <div id="info_blok_1"> 
                {{i.table_contents}}
            </div>
            <div id="info_blok_2"> 
                {{i.text_contents}}
            </div>
            <div id="info_blok_3"> 
                ЗДЕСЬ ДОЛЖНЫ БЫТЬ ФОТО
            </div>
            <div id="info_blok_4"> 
                <div id="info_blok_41"> 
                    <div class = 'grid_main_field9'>
                        <p class='grid_main_p'>&#x1F44D;</p>
                    </div>
                    <div class = 'grid_main_field10'>
                        <p class='grid_main_p'> {{i.count_symbol_ok}} </p>
                    </div>
                    <div class = 'grid_main_field11'>
                        <p class='grid_main_p'>&#128078;</p>
                    </div>
                    <div class = 'grid_main_field12'>
                        <p class='grid_main_p'>{{i.count_symbol_bad}}</p>
                    </div>
                </div>
                <div id="info_blok_42"> 
                    <div class = 'grid_main_field14'>
                        <p class='grid_main_p'>&#x270D; Автору</p>
                    </div>
                </div>
            </div>
            <form id='info_blok_5' method="post" action="">
                {% csrf_token %}
                <p id='info_blok_51'>Комментировать:</p>
                <textarea name="comment" cols="60" rows="20" id='id_comment' required="" id="id_comment"></textarea>
                <div class='form-error' id='info_blok_52'>{{form.comment.errors}}</div>
                <button class='fd2' type="submit" id='info_blok_53'>ВВОД</button>
            </form>
            <div id='info_blok_6'>
                <p>  </p>
            </div>

        </div>
        {% endfor%}
    </div>
    
    
    
    <footer>

        <div id="f_d1">
            <div>&nbsp  Творческая студия:</div> 
            <div>&nbsp  GurIlVik</div> 
            <div>&nbsp  gilvik1@yandex.ru</div>
        </div>
        <div id="f_d2">

            <div >
                {% if request.user.is_authenticated %}
                <a class='fd2' href="/account/logout/"><button class='fd2'>ВЫХОД</button></a></div>
                {% else %}
                <a class='fd2' href="/"><button class='fd2'>Регистрация/ВХОД</button></a></div>
                {% endif %}
        </div> 
    </footer>  


</body> {% endblock %}
</html>

{% comment %} 
<p id='info_blok_51'>Комментировать:</p>
<p><label for="{{ form1.comment.id_for_label }}" id='info_blok_511'></label></p>

<textarea name="comment" cols="60" rows="10" row="10" required="" id="id_comment"></textarea></p>
<button class='fd2' type="submit" name='comment' id='info_blok_53'>ВВОД</button>
        {% endcomment %}

        {% comment %} {{ form1.as_p }} {% endcomment %}
              {% comment %} {% csrf_token %} {% endcomment %}




              {% comment %} <p id='info_blok_51'>Комментировать:
            </p>
            {% csrf_token %}
            {{ form.as_p }}
            <textarea name="comment" cols="60" rows="20" id='id_comment' required="" id="id_comment"></textarea>
            <div class='form-error' id='info_blok_52'>{{form1.comment.errors}}</div>
            <button class='fd2' type="submit" name='comment' id='info_blok_53'>ВВОД</button> {% endcomment %}
            {% comment %} {% endfor %} {% endcom