
{% extends "main/base_main.html" %}
{% load static %}


{% block menu_block %} 
        
            <a href="/presentation/a"><button class='fd2'>О сайте</button></a>
        <div>
            <a href="/main/"><button class='fd2'>На главную</button></a>
        </div>
        {% if request.user.is_authenticated %}
        <div ><a href="{{ puth_paesonalpage }}"><button class='fd2'>Своя страница</button></a></div>
        {% else %}
        <div ><a href="/"><button class='fd2'>Регистрация</button></a></div>
        {% endif %}

{% endblock %}

{% block amalker %}      
    {% for i in info_blok %}
        <div id="advertisement"> 
            <div id="photo_autor"> 
                <img class='img_for_arts' onclick='fun_foto(this)' src="{{ photo_autor.url }}"> 
            </div>
            <div id="name_autor"> 
                {{i.author}}
            </div>
            <div class="a_1"> 
            <p>Название статьи</p>
            </div>
            <div class="a_2"> 
                {{i.title}}
            </div>
            <div class="a_1"> 
                <p>Дата публикации</p>
            </div>
            <div class="a_2"> 
                {{i.time_publication | date:"j E Y" }}
            </div>
            <div class="a_1"> 
                <p>Рубрика</p>
            </div>
            <div class="a_2"> 
                {% if i.categories == '1' %}
                <p>объявление</p>
                {% elif i.categories == '2' %}
                <p>Статья</p>
                {% elif i.categories == '3' %}
                <p>Философия</p>
                {% endif %}
            </div>
            <div class="a_1"> 
                <p>Раздел</p>
            </div>
            <div class="a_2"> 
                {% if i.topic == '1' %}
                <p>Поиск</p>
                {% elif i.topic == '2' %}
                <p>Продажа</p>
                {% elif i.topic == '3' %}
                <p>Услуга</p>
                {% endif %}
            </div>
            <div class="a_1"> 
                <p>Предмет интереса</p>
            </div>
            <div class="a_2"> 
                {{ i.collection }}
                
            </div>
        </div>    
    {% endfor%}  
{% endblock %}  
    
{% block content %}   
        
    {% for key, value in blok_publik.items %}
        

               {% comment %} basic блок с основной информацией {% endcomment %}    
       
            <div id="info_blok_1"> 
                {{ key.title }}
            </div>
            <div id="info_blok_2"> 
                {{ key.text }}
            </div>
            <div id="info_blok_3"> 
                {% for elem in value %}
                <div class="photo_publik"> 
                    <img class='img_for_arts' onclick='fun_foto(this)' src="{{ elem.url }}"> 
                </div>
                {% endfor %}
            </div>
            <div id="info_blok_4"> 
                <div id="info_blok_41"> 
                    <div class = 'grid_main_field9'>
                        <p class='grid_main_p'>&#x1F44D;</p>
                    </div>
                    <div class = 'grid_main_field10'>
                        <p class='grid_main_p'> {{key.count_symbol_ok}} </p>
                    </div>
                    <div class = 'grid_main_field11'>
                        <p class='grid_main_p'>&#128078;</p>
                    </div>
                    <div class = 'grid_main_field12'>
                        <p class='grid_main_p'>{{key.count_symbol_bad}}</p>
                    </div>
                </div>
                <div id="info_blok_42"> 
                    <div class = 'grid_main_field14'>
                        <p class='grid_main_p'>&#x270D; Автору</p>
                    </div>
                </div>
            </div>
            {% if acess_comm == False %}
                <p id='info_blok_51'>Автор закрыл комментарии</p>
            {% else %}
                <form id='info_blok_5' method="post" action="">
                    {% csrf_token %}
                    <p id='info_blok_51'>Комментировать:</p>
                    <textarea cols="60" name="comment" rows="20" id='id_comment' required="" id="id_comment"></textarea>
                    <div class='form-error' id='info_blok_52'>{{form.comment.errors}}</div>
                    <button class='fd2' type="submit" id='info_blok_53'>ВВОД</button>
                </form>
                <div id='info_blok_6'>
                    <p>  </p>
                </div>
            {% endif %}
        {% if key_comments == True %}
        {% for j in dict_comments %}
        <div class='info_blok_7'>
            <div class='info_blok_71'>
                <p>{{ j.autor_message }}</p>
                <p>{{ j.time_publication | date:"j E Y" }}</p>
                <button class='fd2' onclick="comment_for_comment({{ j.id }})">ОТВЕТИТЬ</button>
                <p>&#x1F44D;</p>
                <p>{{ j.count_symbol_ok }}</p>
                <p>&#128078;</p>
                <p>{{ j.count_symbol_bad }}</p>

            </div>
            <div id='{{ j.id }}' class='info_blok_73'>
                <form id='form_{{ j.id }}' method="post" action="">
                    {% csrf_token %}
                    <p id="comment2_id_p_{{ j.id }}" class='comment2_id_p'>{{ i.id }}</p> {% comment %} для ад статьи {% endcomment %}
                    <textarea cols="60" name="comment2" rows="20" required="" class="id_comment2" id="textarea_{{ j.id }}"></textarea>
                    <div class='form-error' id='info_blok_52'>{{form2.comment.errors}}</div>
                    <button type="submit" class='fd2' class="id_comment2">ВВОД</button>
                    <input type="text" name="comment2_id" required="" id="comment2_id_i_{{ j.id }}" class='comment2_id_p'>
                </form>
            </div>
            <div class='info_blok_72'>
                <p>{{ j.text_message }}</p>
            </div>
        </div>
        {% endfor%}
        {% endif %}
        <div class = 'info_blok_90' id='info_blok_90'>
        </div>        
        <div class = 'info_blok_91' id='info_blok_91'>
            <button class = 'info_blok_93' onclick="clouse_photo()">&times;</button>
        </div>
    {% endfor%}
{% endblock %}  

