{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content%}

<div id="content2">

<div id="login4">
    <h1>Регистрация</h1>
    {% if form.errors %}
        <p>
            Форма заполнена не верно.
            Попробуйте снова.
        </p>
    {% else %}
        <p>Заполите форму регистрации</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% comment %} {{form|crispy}} {% endcomment %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="регистрация"></p>
        </form>
    </div>
</div>
<div id="login3">
    <div ><a href="/"><button class='fd2'>НАЗАД</button></a></div> 
</div>
</div>
{% endblock content%}