{% extends "presentation/base.html" %}
{% load static %}

{% block title %}
{{ word1 }}{% endblock %}

{% block content %}
<div>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <h1>Клуб коллекционеров</h1> 
    <p>&nbsp</p>
    <a class='fd2' href="/main"><h3>Общий зал</h3> </a></div>
    <p>&nbsp</p>
    <h3>место подробного изучения</h3>
    <p>&nbsp</p>
    <p>Состоит из 3х активных блоков</p>
    <p>1. на меню останавливаться смысла нет. единственное изменение отсутствие фильтра</p>
    <p>2. Блок информации о статье - фото и имя автора, название статьи, дата публикации, </p>
    <p>рубрика и раздел если есть а так же предмет коллекционирования</p>
    <p>3. Блок изучения статьи - наименовнаие, текст, блок с фотоматериалами</p>
    <p>2а оценочными счетчика</p>
    <p>возможностью написать автору (В НАСТОЯЩЕЕ ВРЕМЯ В РАЗРАБОТКЕ) </p>
    <p>&nbsp</p>
    <h3>Допуск к комментариям предполагает три сценария (на усмотрение автора статьи)</h3>
    <p>закрыт для всех</p>
    <p>открыт всем членам клуба</p>
    <p>открыт только соколлекционерам</p>
    <p>&nbsp</p>
    <h3>Поле комментария </h3>
    <p>Содержит блоки состоящие из автора комментария ценностных счетчиков, кнопки ответить</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <a class='fd2' href="/presentation/f">Далее</a></div>
    
</div>



{% endblock %}