{% extends "presentation/base.html" %}
{% load static %}

{% block title %}
{{ word1 }}{% endblock %}

{% block content %}
<div>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <h1>Клуб коллекционеров</h1> 
    <p>&nbsp</p>
    <h3>реализованны 3и основные блока страниц: </h3> 
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>1. Start - парадная с регистратурой (регистрация и аутентификация пользователя) с переходом на главную страницу для не желающих регистрироваться</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>2. Main - общий зал (блок разверстки статей и объявлений для широкого охвата пользователей)</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>3. PersonalPage - личный кабинет члена клуба (пользователя с настройками и рабочим столом)</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>Между всеми страницами в зависимости от логики проложены коридоры</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>4. не основной - блок презентации</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <a class='fd2' href="/presentation/с">Далее</a></div>
    
</div>



{% endblock %}