{% extends "presentation/base.html" %}
{% load static %}

{% block title %}
{{ word1 }}{% endblock %}

{% block content %}
<div>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <h1>Клуб коллекционеров</h1> 
    <p>&nbsp</p>
    <h3>Специализированная социальная сеть</h3> 
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>Курсовая работа</p>
    <p>Гурьянов И.В.</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>Миссия - сделать общение пользователей комфортным исключив нежелательные элементы общения</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>Backend - Python (framework Django, Pillow, multiupload) </p>
    <p>&nbsp</p>
    <p>Frontend - HTML, CSS, JavaScript and crispy-bootstrap4 </p>
    <p>&nbsp</p>
    <p>DateBase - SQLite3 </p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <a class='fd2' href="/presentation/b">Далее</a></div>
    
</div>



{% endblock %}