{% extends "presentation/base.html" %}
{% load static %}

{% block title %}
{{ word1 }}{% endblock %}

{% block content %}
<div>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <h1>Клуб коллекционеров</h1> 
    <p>&nbsp</p>
    <a class='fd2' href="/main"><h3>Общий зал</h3> </a></div>
    <p>&nbsp</p>
    <h2>Состоит из 2х частей</h2>
    <p>&nbsp</p>
    <h2>Перовое. Место общего взаимодействия.</h2>
    <p>&nbsp</p>
    <h3>Состоит из трех активных частей:</h3>
    <p>1. верхнее меню </p>
    <p>предосталяет переход к презентации сайта, фильтр статей</p>
    <p>(фильтр по предметам коллекционирования решен ввиде всплывающего окна</p>
    <p>фильтр по категориям в виде кнопок)</p>
    <p>Если пользователель не аутентифицирован предлагает вернуться в хол и пройти регистрацию</p>
    <p>Если аутентифицирован предосталяет возможность выхода или возвращения в кабинет</p>
    <p>&nbsp</p>
    <h3>2. блок с рекламой </h3>
    <p>В НАСТОЯЩЕЕ ВРЕМЯ В РАЗРАБОТКЕ</p>
    <p>&nbsp</p>
    <h3>3. Поле предоставления информации</h3>
    <p>Содержит блок с тематическими статьями ()</p>
    <p>с переходом к приемной автора (по имени)</p>
    <p>временем публикации</p>
    <p>количеством фотоматериалов</p>
    <p>наименованием</p>
    <p>текстом</p>
    <p>2мя - всплывающими фотографиями </p>
    <p>2мя - оценочными счетчиками</p>
    <p>С переходом к подробному изучению</p>
    <p>С возможностью написать автору</p>
    <p>&nbsp</p>
    <a class='fd2' href="/presentation/e">Далее</a></div>
    
</div>



{% endblock %}