{% extends "presentation/base.html" %}
{% load static %}

{% block title %}
{{ word1 }}{% endblock %}

{% block content %}
<div>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <h1>Клуб коллекционеров</h1> 
    <p>&nbsp</p>
    {% comment %} <h3>Парадная</h3>  {% endcomment %}
    <a class='fd2' href="/"><h3>Парадная</h3> </a></div>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <h3>Для не зарегистрированного посетеителя реализовано 2а сценария:</h3>
    <p>1. вход на главную страницу без регистрации</p>
    <p>2. регистрация</p>
    <p>&nbsp</p>
    <h3>Для члена клуба не аутентифицированного 3и сценария</h3>
    <p>1. вход на главную страницу без регистрации</p>
    <p>2. аутентифицикация - по паролю</p>
    <p>3. аутентифицикация - по паролю присланному по почте (в случае если член клуба забыл пароль)</p>
    <p>&nbsp</p>
    <h3>Для аутентифицированного 3и сценария</h3>
    <p>1. выход</p>
    <p>2. переход в зал для общения</p>
    <p>3. переход в личный кабинет</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <h3>Регистрация 2х этапная:</h3>
    <p>на 1ом - вводятся: псевдоним, пароль 2а раза, и личный почтовый ящик</p>
    <p>на 2ом - подтверждение почты с присланного на нее сгенерированного случайным образом токена</p>
    <p>&nbsp</p>
    <h3>Аутентификация по почте 2х этапная:</h3>
    <p>на 1ом - вводятся: почтовый ящик</p>
    <p>на 2ом - вводится сгенерированный случайным образом токен - впоследствии служащий паролем</p>
    <p>&nbsp</p>
    <p>Аутентификая с паролем - стандартная</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <a class='fd2' href="/presentation/d">Далее</a></div>
    
</div>



{% endblock %}