{% extends "presentation/base.html" %}
{% load static %}

{% block title %}
{{ word1 }}{% endblock %}

{% block content %}
<div>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <h1>Клуб коллекционеров</h1> 
    <p>&nbsp</p>
    <a class='fd2' href="/personalpage/Волк"><h3>Личный кабинет</h3> </a></div>
    <p>&nbsp</p>
    <h3>Состоит из двух частей</h3>
    <p>&nbsp</p>
    <h3>Первая: кабинет</h3>
    <p>&nbsp</p>
    <p>Реализованно меню, личная информация, блок статей и черновиков, сервер сообщений</p>
    <p>всплывающие окна: написать статью и настройки профиля и личной страницы</p>
    <p>&nbsp</p>
    <h3>Вторая: приемная</h3>
    <p>&nbsp</p>
    <a class='fd2' href="/personalpage/reception/Волк"><h3>Личный кабинет</h3> </a>
    <p>&nbsp</p>
    <p>В приемную попадает пользователь при запросе на страницу члена клуба </p>
    <p>&nbsp</p>
    <p>Страница находится в РАЗРАБОТКЕ</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <a class='fd2' href="/">Далее</a></div>
    
</div>



{% endblock %}