* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }


body {
    height: inherit;
    width: auto;
    background: #fff7fc79;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* отображение меню */
header {
    height: 40px;
    width: 100%;
    background: #c0c4ac79;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 2vw;
}

.fd2 {
    font-size: medium;
    background-color:rgb(163, 163, 163);
    height: 3.3vw;
    max-height: 30px;
    width: auto;
    min-width: 120px;
    border-radius: 20%;
    color: white;
}

/* ОТОБРАЖЕНИЕ ОСНОВНОЙ ЧАСТИ */
#global {
    width: 100%;
    top: 40px;
    display: flex;
    background-color: aqua;
    flex-direction: row;
    font-size: 2vw;
    justify-content: center;
}



#messenges {
    height: 100%;
    width: 30%;
    position: relative;
    background-color: rgb(109, 84, 201);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer {
    color: white;
    background: #23041979;
    height: 45px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#f_d1 {
    left: 0px;
    font-size: 11px;
    font-weight: 300;
    width: 120px;
}

#f_d2 {
    width: 100%;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 #q1{
    display: none;
 }

 /* БЛОКИ ОТОБРАЖЕНИЯ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ: */


 #personal_information {
    border: 1px solid black;
    background-color: rgb(242, 242, 242);
    height: 100%;
    width: max-content;
    position: relative;
}

#personal_information1 {
    margin: 11px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#photo_user {
    border: 2px solid black;
    padding: 2px;
    height: 150px;
    width: 150px;
    top: 8px;
    background-color: white;
    font-family: serif;
    font-size: 30px;
}

#nik_user {
    padding: 4px;
    height: 22px;
    width: 150px;
    top: 12px;
    font-family: serif;
    font-size: 23px;
    text-align: center;
    color: blue;
}

#status_user {
    padding: 4px;
    height: 22px;
    width: 150px;
    padding-top: 20px;
    font-family: serif;
    font-size: 23px;
    text-align: center;
    color: blue;
    
}

#class_user {
    padding: 4px;
    height: 12px;
    width: 150px;
    padding-top: 12px;
    font-family: serif;
    font-size: 17px;
    text-align: center;
    color: blue;
}

#predmet_collection_user {
    padding: 4px;
    height: 50%;
    width: 150px;
    padding-top: 35px;
    /* border-bottom: 2px black; */
    font-family: serif;
    font-size: 23px;
    text-align: center;
    color: blue;
    border-bottom: 2px solid black;
}

#predmet_collection_user2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.predmet_collection_user3 {
    color: blue;
}

#secret_information_user {
    font-size: 23px;
}

/* БЛОКИ ОТОБРАЖЕНИЯ ЦЕНТРАЛЬНОЙ ЧАСТИ: */

#info_blok {
    height: 100%;
    width: max-content;
    position: relative;
    background-color: rgb(158, 215, 84);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#box_info_blok {
    margin: 11px;
    display: flex;
    height: 100%;
    width: 600px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(242, 242, 242);
}

/* ОТРАЖЕНИЕ для новой статьи */
.box_write_info_blok {
    display: grid;
    grid-template-columns: 1fr 18fr 18fr 18fr;
    grid-template-rows: 1fr 5fr 1fr 1fr;
    padding: 3px;
    border: solid 2px black;
}

#grid_write_p {
    color:rgb(81, 81, 81);
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column: 1;
    font-size: 18px;
    writing-mode: vertical-lr; 
    text-orientation: upright;
}

#write_title {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 1;
    font-size: 18px;
}

#write_text {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 2;
    font-size: 18px;
}

#paste_file {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 3;
}

#button_1 {
    grid-row: 4;
    grid-column: 2;
}
#button_2 {
    grid-row: 4;
    grid-column: 3;
}
#button_2 {
    grid-row: 4;
    grid-column: 4;
}

/* ОТРАЖЕНИЕ для редактируемой  */

/* #box_for_editorial_office {
    margin-top: 11px;
    border: solid 2px black;
    padding: 3px;
} */

/* ВСПЛЫВАЮЩЕЕ ОКНО ДЛЯ ЗАПИСИ СТАТЬИ */
#alternativ_global {
    height: 90%;
    width: 90%;
    margin: 0%;
    padding: 0%;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
    display: none;
    border: solid 3px black;
    background-color: rgba(233, 234, 234, 0.945);
}

#pu_div1 {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
}
#pu_div2 {
    width: 360px;
    min-width: 20%;
    max-width: 40%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(153, 46, 131);
}

#pu_div3 {
    width: 1200px;
    min-width: 60%;
    max-width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(232, 140, 214);
}
.p_popup {
    margin-top: 50px;
    margin-bottom: 25px;

}