{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'start/base.css' %}" type="text/css">
    <script src="{% static 'start/script.js'%}"></script>   
    <title>{% block title %}{% endblock %}</title>
</head>

<body style="background-image:url('{% static 'start/start.jpg'%}')">
    <header>
        <div id="f_d2">
            {% block menu %}{% endblock %}
        </div> 
    </header>



    <div id='global'>
        {% block Slogan %}
        {% endblock %}
    </div>

    
    {% comment %} {% block content %}
    {% endblock content %} {% endcomment %}


    <footer>
        <div id="f_d1">
            <div>&nbsp  Творческая студия:</div> 
            <div>&nbsp  GurIlVik</div> 
            <div>&nbsp  gilvik1@yandex.ru</div>
        </div>
        <div id="f_d2">
            <p id='p_footer'>Любое копирование и использование информации с этого сайта является подлостью и делает человека мерзостью</p>
        </div>  
    </footer>  
</body>
</html>