{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'start/text.css'%}" type="text/css">
    <script src="{% static 'start/script.js'%}"></script>   
    <title>Сайт первая</title>
</head>

<body style="background-image:url('{% static 'start/start.jpg'%}')">

    <h3>Игра в города.</h3>
    <p>Введите ваш город:</p>
    <p id = 'p1'>Вам город на букву: <span id="s3">любую</span></p>
    <input type="text" id="a1" value="" /> <input id="b1" type="button" value="ЖМИ"  />
    <p>мой город:   <span id="s1">ваш ход</span></p>
    <div id="finish"></div>
    <p id="s2"></p>


    {% comment %}{% endcomment %}
    <a href="/account/login/"><button>login</button></a> <a href="/account/register/"><button>register</button></a>
    
    
</body>
    
    <footer>
          <div>Творческая студия:</div> 
          <div>GurIlVik</div> 
          <div>gilvik1@yandex.ru</div>
          
      <div id="memory"><p id="mempy">Москва,Красноярск,Архангельск,Краснодар,Ростов-на-Дону,Ульяновск,Калининград,Дмитров,Владивосток,Краснознаменск,Казань,Нальчик,Кировоград,</p></div> 

    </footer>
</html>

