{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'start/text.css'%}" type="text/css">
    <script src="{% static 'start/script.js'%}"></script>   
    <title>Приветствие</title>
</head>

<body style="background-image:url('{% static 'start/start.jpg'%}')">

    <div id="text1">
    <div id="text">
        <p>Коллекционер - бережёт историю</p>
        <p>История - определяет культуру</p>
        <p>Культура - основа цивилизации</p>
        <p></p>
    </div>
</body>

<footer>
    <div id="f_d1">
        <div>&nbsp  Творческая студия:</div> 
        <div>&nbsp  GurIlVik</div> 
        <div>&nbsp  gilvik1@yandex.ru</div>
    </div>
    <div id="f_d2">
        {% if request.user.is_authenticated %}
        <div ><a class='fd2' href="/main"><button class='fd2'>На главную</button></a></div>
        <div ><a class='fd2' href="/main"><button class='fd2'>В личный кабинет</button></a></div>  {% comment %} ДОПИСАТЬ путь на главный кабинет  {% endcomment %}
        <div ><a class='fd2' href="/account/logout/"><button class='fd2'>ВЫХОД</button></a></div>
        {% else %}
        <div ><a class='fd2' href="/account/login/"><button class='fd2'>Вход с паролем</button></a></div> 
        <div ><a class='fd2' href="/account/login_email/"><button class='fd2'>Забыли пароль</button></a></div> 
        <div ><a class='fd2' href="/account/register/"><button class='fd2'>Регистрация</button></a></div>
        <div ><a class='fd2' href="/main"><button class='fd2'>Без регистрация</button></a></div>
        {% endif %}
    </div> 
</footer>  
</html>

